@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.layout {
    lost-center: $layout-width;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #070808; 
}
 
::-webkit-scrollbar-thumb {
  background: #6582a1;
}

::-webkit-scrollbar-thumb:hover {
  background: gray; 
}
